@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300&display=swap");

/* Variables */
:root {
  --color-gray: #808080;
  --color-lighter-gray: #ececec;
  --color-light-gray: #d3d3d3;
  --color-carmine-pink: #ec5242;
  --color-carmine-pink-rgba: rgba(74, 20, 14, 0.95);
  --color-royal-orange: #e72a17;
  --color-charleston-green: #272a31;
  --color-white: #fff;
  --color-dark-charcoal: #323232;
  --color-bg: #494e5a;
  --transition: all 0.3s ease-in;
}

/* General styles */

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  font-weight: 400;
}

.icon{
  width:2rem;
}

.hide{
  display: none;
}

header{
 background:linear-gradient(rgba(239, 234, 234, 0.9), rgba(236, 236, 240, 0.9)),url("/asset/images/arturo-castaneyra-tPE60iK97qw-unsplash.jpg");
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
 /* min-height: 100vh; */
 padding: 20px;
}


.lower-nav__hamburger{
  position: relative;
  z-index: 10;
  cursor: pointer;
}

.ham-icon{
  width: 3rem;
}

.hero{
padding: 15px;
}

.hero>*{
  margin-bottom: 20px;
}


.hero__title{
  font-size: 1.5rem;
}
.hero__heading{
  font-size: 2.5rem;
  font-weight: 900;
  text-transform: uppercase;
  line-height: 1.5;
  display: inline-block;
  background-image: url(/asset/images/joseph-chan-iMxsCt2rxAQ-unsplash.jpg);
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;
}

.hero__title{
  color: var(--color-royal-orange)
}

.hero__body{
  background-color: var(--color-lighter-gray);
  border: 2px solid var(--color-light-gray);
  padding: 15px;
  line-height: 1.5;
}

.hero__date{
  font-weight: 900;
  color: var(--color-charleston-green);
  font-size: 1.6rem;
}
.hero__venue{
  font-size: 15px;
}

.program{
  background-color: var(--color-charleston-green);
  padding: 50px 25px;
  display: grid;
  grid-template-columns: 1fr;
}

.program__title{
  text-align: center;
  color: var(--color-lighter-gray);
  margin-bottom: 50px;
  font-size: 1.5rem;
  position: relative;
}

.program__title::after{
  position: absolute;
  content: "";
  width: 100px;
  height: 3px;
  background-color: var(--color-royal-orange);
top:150%;
left: 50%;
display: block;
transform: translate(-50%,-50%);
}
.program__card-image{
  width: 90%;
}
.program__card{
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr 4fr;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  background-color: rgb(254, 244, 244,0.2);
  padding: 15px;

}

.program__card-title{
  font-size: 1rem;
  color:var(--color-royal-orange)

}

.program__card-body{
  font-size: 13px;
 justify-self: flex-start;
  color: var(--color-lighter-gray);
  line-height: 1.5;
}

.program__btn{
  background-color: var(--color-royal-orange);
padding: 20px 40px;
border: none;
margin-top: 20px;
font-family: inherit;
color: var(--color-lighter-gray);
font-size: 1.5rem;
}


.feature-speakers{
  padding: 40px 20px;
}

.feature-speakers__container-title{
  text-align: center;
  margin-bottom: 20px;
}

.feature-speakers__card{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap:5px;
  margin-bottom: 10px;

}
.speaker-pix{
  width: 150px;
}
.feature-speakers__card-details-name{
  margin-block: 10px;
}
.feature-speakers__card-details-info{
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-royal-orange);
  margin-bottom: 5px;
}

.feature-speakers__card-details-about{
  font-size: 0.8rem;
  line-height: 1.5;
}

.feature-speakers__see-more{
  margin: 10px auto;
  display: block;
  background-color: var(--color-white);
  color: var(--color-charleston-green);
  border:1px solid var(--color-charleston-green);
  padding: 10px 15px;
}


footer{
  background-color: var(--color-charleston-green);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}
.footer-logo{
  width: 150px;
}

.reserve{
  font-size: 13px;
  color: var(--color-lighter-gray);
}